@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap');
 
body{
	font-family: "Roboto";
   background-color: rgb(126, 125, 125);
	color: white;
}
.wrapper{
	position: relative;
	overflow: hidden;
	min-height: 100%;
}
.header{
	background-color: rgb(144, 78, 182);
	padding-top: 15px;
	padding-bottom: 10px;
	text-align: center;
	font-weight: 900; 
	font-size: 30px;
	border: 5px solid darkkhaki;
}
.main__container{
	max-width: 1000px;
	margin: 0 auto;
	border: 5px solid rgb(91, 49, 131);
	padding-left: 15px;
	padding-right: 15px;
}
.flex__title{
	text-align: center;
	padding: 30px;
	font-size: 15px;
}
.flex__display{
	background-color:rgb(212, 207, 129);
	border: 5px solid rgb(172, 160, 3);
	display: flex;		
}
.flex__box{
	font-size: 25px;
	font-weight: 700;
	background-color:  rgb(159, 89, 224);
	padding: 10px;
	border: 5px solid rgb(91, 49, 131);
	text-align: center;
}
.flex__wrap {
	background-color: rgb(212, 207, 129);
	border: 5px solid rgb(172, 160, 3);
	display: flex;
	flex-wrap: wrap;
	width: 120px;
}
.flex__end{
	background-color: rgb(212, 207, 129);
	border: 5px solid rgb(172, 160, 3);
	display: flex;
   justify-content: flex-end;
	gap: 10px;
}
.flex__space_between{
	background-color: rgb(212, 207, 129);
	border: 5px solid rgb(172, 160, 3);
	display: flex;
	justify-content: space-between;
}
.flex__space_around{
	background-color: rgb(212, 207, 129);
	border: 5px solid rgb(172, 160, 3);
	display: flex;
	justify-content: space-around;
}
.flex__space_evenly{
	background-color: rgb(212, 207, 129);
	border: 5px solid rgb(172, 160, 3);
	display: flex;
   justify-content: space-evenly;
}
.flex__stretch{
	background-color: rgb(212, 207, 129);
	border: 5px solid rgb(172, 160, 3);
	display: flex;
	height: 200px;	
	justify-content: space-between;
	align-items: stretch;
}
.flex__center{
	background-color: rgb(212, 207, 129);
		border: 5px solid rgb(172, 160, 3);
		display: flex;
		height: 200px;
		justify-content: space-between;
		align-items: center;
}
.flex__center_center{
	background-color: rgb(212, 207, 129);
	border: 5px solid rgb(172, 160, 3);
	display: flex;
	height: 200px;
	justify-content: center;
	align-items: center;
}
.flex__reverse{
	background-color: rgb(212, 207, 129);
	border: 5px solid rgb(172, 160, 3);
	display: flex;
	height: 200px;
	justify-content: flex-start;
	flex-direction: row-reverse;
}
.flex__column{
	background-color: rgb(212, 207, 129);
		border: 5px solid rgb(172, 160, 3);
		display: flex;
		height: 300px;
		align-items: center;
		flex-direction: column;
		justify-content: space-around;
}	   
/*===========================================================*/			

.flex__blok0 {
	font-size: 25px;
	font-weight: 700;
	background-color: rgb(159, 89, 224);
	padding: 10px;
	border: 5px solid rgb(91, 49, 131);
	text-align: center;
}
.flex__align_self {
	background-color: rgb(212, 207, 129);
	border: 5px solid rgb(172, 160, 3);
	display: flex;
	height: 200px;
	align-items: stretch;
}
.flex__blok0:nth-child(2) {
	align-self: center;
}
.flex__blok {
	font-size: 25px;
	font-weight: 700;
	background-color: rgb(159, 89, 224);
	padding: 10px;
	border: 5px solid rgb(91, 49, 131);
	text-align: center;		
}	
.flex__flex{
	background-color: rgb(212, 207, 129);
	border: 5px solid rgb(172, 160, 3);
	display: flex;
	height: 200px;
	align-items: stretch;
	gap: 10px;
}		
.flex__blok:nth-child(2){
   align-self: center;
	flex-basis: 500px;
	flex-shrink: 0;
	flex-grow: 1;
}	
.flex__blok:nth-child(3) {
	align-self: center;
   flex-grow: 1;
}	


	





